<%- include('partials/header') %>
        <div class="pure-g">
           <!-- j'utilise les balises ejs avec un if pour n'afficher que l'article demander dans l'index  -->
          <% if(locals.clickedArticle.id) {%>
          <article class="post pure-u-1">
            <header>
              <h1><%= clickedArticle.title %></h1>
              <div class="post-meta">
                Par <a href="#"><%= clickedArticle.author %></a> 
                dans la catégorie <a href="#"><%= clickedArticle.category %></a>
              </div>
            </header>
            <figure class="post-picture">
              <img class="pure-img" src="/images/<%= clickedArticle.img %>" alt="<%= clickedArticle.img_alt %>">
              <figcaption class="post-picture-caption"><%= clickedArticle.sub_title %></figcaption>
            </figure>
            <div class="post-content">
              <p><%= clickedArticle.text %></p>
            </div>
            <footer>
              <a class="pure-button" href="/">Retour à l'accueil</a>
            </footer>
          </article>
          <% } %>
        </div>
        <%- include('partials/footer') %>